# MailerSend configuration
MAILERSEND_API_KEY=your-mailersend-api-key
MAILERSEND_FROM_EMAIL=webmaster@tudominio.com
MAILERSEND_TO_EMAIL=contacto@qawa.com
MAILERSEND_REPLY_TO_EMAIL=reply@tudominio.com
