---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import HowItWorks from '../components/HowItWorks.astro';
import ROI from '../components/ROI.astro';
import Scalability from '../components/Scalability.astro';
import Pricing from '../components/Pricing.astro';
import ContactFooter from '../components/ContactFooter.astro';
---

<Layout>
  <main>
    <Hero />
    <HowItWorks />
    <ROI />
    <Scalability />
    <Pricing />
    <ContactFooter />
  </main>
</Layout>
